{% extends 'base.html.twig' %}

{% block title %}Modification de votre mot de passe{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="bg-light py-3 px-3">
                    <h1>Modification du mot de passe</h1>

                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <button type="submit" class="btn btn-primary">Modifier le mot de passe</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    
    </div>
{% endblock %}