{% extends 'base.html.twig' %}

{% block title %}Erreur serveur{% endblock %}

{% block body %}

    <div class="container">
    
        <h1>Une erreur a été rencontrée</h1>
        <div class="alert alert-danger">
         <p><strong>Merci de réessayer ultérieurement !</strong></p>
        </div>
    </div>

{% endblock %}